db.sqlite3
/static/bs4/
/static/faw/
/node_modules/
/todo_app/templates/todo_app/progress.html
/todo_app/templates/todo_app/testchart.html
package-lock.json
# ! makemigrations should be run locally and then puhed to heroku 
# /todo_app/migrations/
# *.pyc 