{% extends 'base.html' %}
{% load static %}


{% block title %}
My Tasks
{% endblock %}
    

{% block head %}
    <link rel="stylesheet" href="{% static 'todo_app/css/todo.css' %}">    
    <script src="{% static 'todo_app/js/todo.js' %}" defer></script>
{% endblock  %}

{% block body %}
            
    <div class="row justify-content-center mt-4">
        <div class="col-sm-8">
            <p class='display-3' style='text-align:center'>This is my todo app</p>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    <!--ALERT-->
                    <div id='duplicate-alert' class="alert alert-warning alert-dismissible fade show" hidden>
                        <button type="button" class="close">
                        <span id='duplicate-alert-dismiss'>&times;</span>
                        </button>
                        <strong>Task Already Present</strong> 
                    </div>
                    
                    <div class="ins">
                        <div class="field-div">
                            {% comment %} {{form.errors}} {% endcomment %}
                            <span class='form-fields'>
                                {{form.text}}
                                <span class='form-fields-divider'></span>
                                {{form.priority}}
                                <span class='form-fields-divider'></span>
                            </span>
                            <p class="duplicate-error-msg"></p>
                        </div>
                        <button data-toggle="tooltip" placement="bottom" title="Add Task" class="btn btn-success" type="submit"><i class="fas fa-plus"></i></button>
                    </div>
                
                </form> 
                <div class="tasks mt-4">
                    {% for task in user.tasks.all %}
                        <p class='task' id=task_{{task.pk}}>
                            <span class="task-priority {{task.priority}}" data-toggle="tooltip" placement="bottom" title="{{task.priority}} priority"></span>
                            <span class="task-text">{{task.text}}</span>
                            <span class="task-comp">{{task.completed}}</span>
                            <span class='task-options'>
                                <a href="{% url 'tasks:task_complete' pk=task.pk %}" class='complete btn btn-md' data-toggle="tooltip" placement="bottom" title="Mark as completed">
                                    <i class="fas fa-lg fa-check"></i>
                                </a>
                                <a href='{% url "tasks:task_remove" pk=task.pk%}' class='delete btn btn-md' data-toggle="tooltip" placement="bottom" title="Delete Task">
                                    <i class="fas fa-lg fa-trash-alt"></i>
                                </a>
                            </span>
                        </p>
                    {%empty%}
                    <p class='display-4' style='text-align: center; color: grey'>No tasks yet</p>
                    <p class='display-5' style='text-align: center; color: grey'>You can add tasks above</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    