{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'todo_app/css/todo.css' %}">    
    <script src="{% static 'todo_app/js/todo.js' %}" defer></script>
{% endblock  %}

{% block body %}
    
    {% if user.is_authenticated %}
        {{user}}
    {% else %}
        not authenticated
    {% endif %}
        
    <div class="row justify-content-center mt-4">
        <div class="col-sm-8">
            <p class='display-3' style='text-align:center'>This is my todo app</p>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    
                    {% for error in form.text.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <strong>{{error|title}}</strong> 
                        </div>
                        <script>
                          $(".alert").alert();
                        </script>
                    {% endfor %}

                    <div class="ins">
                        <div class="input-div">
                            {{form.text}}
                            <p class="duplicate-error-msg"></p>
                        </div>
                        <button data-toggle="tooltip" placement="bottom" title="Add Task" class="btn btn-success" type="submit"><i class="fas fa-plus"></i></button>
                    </div>
                
                </form> 
                <div class="items mt-4">
                    {% for task in user.tasks.all %}
                        <p class='item'>
                            <!--<span class="status"></span>-->
                            <span class="task-text">{{task}}</span>
                            <a href='{% url "tasks:item_remove" slug=task.slug%}' class='delete btn btn-md'><i class="fas fa-trash-alt"></i></a>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    