.content{
    width: 100%;
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.ins{
    display: flex;
    justify-content: space-evenly;
    /* background: red; */
}

.field-div{
    flex-grow: .8;
}

.form-fields{
    display:flex;
    justify-content: space-between;
}

input{
    border: none;
    border-bottom: 3px inset gray;
    padding-left: .25rem;
    flex-grow: .8;
}

select{
    border: none;
    border-bottom: 3px inset gray;
    padding-left: .25rem;
    flex-grow: .15;
}


.form-fields-divider{
    display: inline-block;
    width: .5rem;
    /* background-color: black; */
}

button{
    flex-grow: .1;
    height: 2.25rem;
}

.duplicate-error-msg{
    padding: 0;
    margin: 0;
    text-align: end;   
}

.alright{
    font-weight: bold;
    color: green;
}

.already-present{
    font-weight: bold;
    color: red;
}

.tasks{
    width: 100%;
}

.task{
    width: 100%;
    display: grid;
    background: rgb(228, 223, 223);
    grid-template-columns: repeat(14, 1fr);
    align-items: center;
    border-radius: 1em;
}

.task-priority{
    /* background: green; */
    height: 2.5rem;
    border-radius: 1rem 0;
}

.task-text{
    margin-left: 1rem;
    grid-column: 2/11;
}

.task-options{
    height: 2.5rem;
    background-color: rgb(194, 192, 192);
    border-radius: 0 1rem 1rem 0;
    grid-column: 13/15;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
}

.complete:hover{
    color: green;
}

.delete:hover{
    color: rgb(190, 0, 0);
}